__pycache__/
*.py[cod]

*.egg-info/
.ipynb_checkpoints/

.env
.venv/
.idea/
.venv/
stage_mva/
.venv*/
.venv312/

**/user_credential.*

**/results/

*.ckpt
*.pt
*.pth
*.npy
*.npz
*.wav
*.flac
*.mp3
*.csv
plan_eval/
unroll_eval/
datasets/